<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800902532893-ttn148s8vuhu7msp4vakeo5h4k7tkhdu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800902532893-ttn148s8vuhu7msp4vakeo5h4k7tkhdu</string>
	<key>API_KEY</key>
	<string>AIzaSyDSvoN1UeFo6sHDj4rwrenM_-ZiWTuFq0c</string>
	<key>GCM_SENDER_ID</key>
	<string>800902532893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.metaApp</string>
	<key>PROJECT_ID</key>
	<string>meta-69f47</string>
	<key>STORAGE_BUCKET</key>
	<string>meta-69f47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800902532893:ios:c404dde4a7840778771bf4</string>
</dict>
</plist>